.navigation-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.pages-container{
    display: flex;
}

.arrow{
    width: 30px;
    cursor: pointer;
    transition: all ease 0.1s;
    fill: #E26868;
}

.arrow:hover{
    width: 32px;
    fill: #CD104D;
}

.pages{
    font-size: 30px;
    color: #E26868;
    margin: 0 40px;
}

.submit-button{
    margin-top: 20px;
    border: 1px solid #E26868;
    border-radius: 15px;
    color: #E26868;
    cursor: pointer;
    transition: all ease 0.1s;
    padding: 10px 100px;
}

.submit-button:hover{
    color: #CD104D;
    font-weight: 700;
    border: 2px solid #CD104D;
}
